<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  </head>
  <body>
    
    <div id="entry">
      <p>
        Welcome to K's Chat. What's your name?
      </p>
      <input id="name" type="text" />
      <button id="enter">
        Enter
      </button>
    </div>
    
    <h1>
      K's Chat
    </h1>
    
    <div id="chat">
      <div id="chat-window">
        <div id="output-wrapper">
          <div id="output">
          </div>
          <div id="feedback">
          </div>
        </div>
        <form id="send-message">
          <input id="handle" type="text" placeholder="Handle" />
          <input id="message" type="text" placeholder="Message" />
          <button id="send">
            Send
          </button>
        </form>
      </div>
    </div>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;z-index:20;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
