:root {
  --text: #000000;
  --background: #8A2BE2;
  --chatbg: #000000;
  --outputbg: #e9d8f9;
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: var(--chatbg);
  margin: 0;
  background-color: var(--background);
}

h1 {
  text-align: center;
}

#entry {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--chatbg);
  color: var(--outputbg);
  text-align: center;
  padding: 0 30%;
}

#chat {
  width: 500px;
  background-color: var(--chatbg);
  padding: 15px;
  margin: auto;
}

#output-wrapper {
  width: 100%;
  height: 450px;
  margin: 0 0 20px 0;
  padding: 16px;
  background-color: var(--outputbg);
  overflow: auto;
}

#feedback {
  font-style: italic;
  color: var(--background);
}

input[type='text'] {
  border: 0;
  background-color: var(--outputbg);
  padding: 10px;
  font-size: 15px;
  display: block;
  margin: 0 0 10px 0;
  width: 100%;
}

button {
  display: block;
  width: 100%;
  border: 0;
  padding: 10px;
  font-size: 20px;
  color: var(--outputbg);
  cursor: pointer;
  background-color: var(--background);
  margin: 10px 0 0 0;
}

@media screen and (max-width: 500px) {
  #chat {
    width:95%;
  }
}